/* Gallery container */
#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1r;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "img1  img2  img2" 		/*  1 */
    "img1  img4  img4"		/*  2 */
	"img6  img8  img5"		/*  3 */
	"img6  img7  img5";		/*  4 */

    cursor: pointer;
}

.gallery1 {display: none;  visibility: hidden; }
.gallery2 {display: none;  visibility: hidden; }
.gallery3 {display: block; visibility: visible; }
.gallery4 {display: none;  visibility: hidden; }
.gallery7 {display: none;  visibility: hidden; }

.media-container-row {
  display: block;
  flex-wrap: nowrap;
}

.select-container {
  display: block;
  right: 0px;
  position: absolute;
}