/* Gallery container */
#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1r;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "img1  img2  img2" 		/*  1 */
    "img1  img8  img6"		/*  2 */
	"img4  img4  img5"		/*  3 */
	"img14 img7  img5"		/*  4 */
	"img14 img11 img11"; 	/*  5 */

    cursor: pointer;
}
.gallery1 {display: block; visibility: visible; }
.gallery2 {display: block; visibility: visible; }
.gallery3 {display: block; visibility: visible; }
.gallery4 {display: none;  visibility: hidden; }
.gallery7 {display: none;  visibility: hidden; }
