 /* Gallery container */
#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "img1  img2  img2  img3" 		/*  1 */
    "img1  img5  img4  img8"		/*  2 */
	"img7  img5  img6  img10"		/*  3 */
	"img12 img13 img6  img10"		/*  4 */
	"img12 img13 img11 img17";    	/*  5 */
    cursor: pointer;
}
.gallery1 {display: block; visibility: visible; }
.gallery2 {display: block; visibility: visible; }
.gallery3 {display: block; visibility: visible; }
.gallery4 {display: block; visibility: visible; }
.gallery7 {display: none;  visibility: hidden; }