#index-gallery .gallery-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* Images */
#index-gallery .img-1 {
    grid-area: img1h;
    background-image: url("../img/thumbs/img1h.jpeg");
	height: 610px;
}

#index-gallery .img-2 {
    grid-area: img2;
    background-image: url("../img/thumbs/img2.jpeg");
}

#index-gallery .img-3 {
    grid-area: img3;
    background-image: url("../img/thumbs/img3.jpeg");
}

#index-gallery .img-4 {
    grid-area: img4;
    background-image: url("../img/thumbs/img4.jpeg");
}

#index-gallery .img-5 {
    grid-area: img5h;
    background-image: url("../img/thumbs/img5h.jpeg");
	height: 610px;
}

#index-gallery .img-6 {
    grid-area: img6h;
    background-image: url("../img/thumbs/img6h.jpeg");
	height: 610px;
}

#index-gallery .img-7 {
    grid-area: img7;
    background-image: url("../img/thumbs/img7.jpeg");
}

#index-gallery .img-8 {
    grid-area: img8;
    background-image: url("../img/thumbs/img8.jpeg");
}

#index-gallery .img-9 {
    grid-area: img9h;
    background-image: url("../img/thumbs/img9h.jpeg");
	height: 610px;
}

#index-gallery .img-10 {
    grid-area: img10h;
    background-image: url("../img/thumbs/img10h.jpeg");
	height: 610px;
}

#index-gallery .img-11 {
    grid-area: img11;
    background-image: url("../img/thumbs/img11.jpeg");
}

#index-gallery .img-12 {
    grid-area: img12h;
    background-image: url("../img/thumbs/img12h.jpeg");
	height: 610px;
}

#index-gallery .img-13 {
    grid-area: img13h;
    background-image: url("../img/thumbs/img13h.jpeg");
	height: 610px;
}


#index-gallery .img-14 {
    grid-area: img14h;
    background-image: url("../img/thumbs/img14h.jpeg");
	height: 610px;
}

#index-gallery .img-15 {
    grid-area: img15h;
    background-image: url("../img/thumbs/img15h.jpeg");
	height: 610px;
}

#index-gallery .img-16 {
    grid-area: img16;
    background-image: url("../img/thumbs/img16.jpeg");
}

#index-gallery .img-17 {
    grid-area: img17;
    background-image: url("../img/thumbs/img17.jpeg");
}

#index-gallery .img-18 {
    grid-area: img18h;
    background-image: url("../img/thumbs/img18h.jpeg");
	height: 610px;
}

#index-gallery .img-19 {
    grid-area: img19;
    background-image: url("../img/thumbs/img19.jpeg");
}

#index-gallery .img-20 {
    grid-area: img20;
    background-image: url("../img/thumbs/img20.jpeg");
}

#index-gallery .img-21 {
    grid-area: img21h;
    background-image: url("../img/thumbs/img21h.jpeg");
	height: 610px;
}

#index-gallery .img-22 {
    grid-area: img22h;
    background-image: url("../img/thumbs/img22h.jpeg");
	height: 610px;
}

#index-gallery .img-23 {
    grid-area: img23;
    background-image: url("../img/thumbs/img23.jpeg");
}


#index-gallery .img-24 {
    grid-area: img24;
    background-image: url("../img/thumbs/img24.jpeg");
}

#index-gallery .img-25 {
    grid-area: img25h;
    background-image: url("../img/thumbs/img25h.jpeg");
	height: 610px;
}

#index-gallery .img-26 {
    grid-area: img26;
    background-image: url("../img/thumbs/img26.jpeg");
}

#index-gallery .img-27 {
    grid-area: img27;
    background-image: url("../img/thumbs/img27.jpeg");
}

#index-gallery .img-28 {
    grid-area: img28;
    background-image: url("../img/thumbs/img28.jpeg");
}

#index-gallery .img-29 {
    grid-area: img29;
    background-image: url("../img/thumbs/img29.jpeg");
}

#index-gallery .img-30 {
    grid-area: img30h;
    background-image: url("../img/thumbs/img30h.jpeg");
	height: 610px;
}

#index-gallery .img-31 {
    grid-area: img31;
    background-image: url("../img/thumbs/img31.jpeg");
}

#index-gallery .img-32 {
    grid-area: img32;
    background-image: url("../img/thumbs/img32.jpeg");
}

#index-gallery .img-33 {
    grid-area: img33;
    background-image: url("../img/thumbs/img33.jpeg");
}


#index-gallery .img-34 {
    grid-area: img34h;
    background-image: url("../img/thumbs/img34h.jpeg");
	height: 610px;
}

#index-gallery .img-35 {
    grid-area: img35h;
    background-image: url("../img/thumbs/img35h.jpeg");
	height: 610px;
}

#index-gallery .img-36 {
    grid-area: img36;
    background-image: url("../img/thumbs/img36.jpeg");
}

#index-gallery .img-37 {
    grid-area: img37;
    background-image: url("../img/thumbs/img37.jpeg");
}

#index-gallery .img-38 {
    grid-area: img38h;
    background-image: url("../img/thumbs/img38h.jpeg");
	height: 610px;
}

#index-gallery .img-39 {
    grid-area: img39;
    background-image: url("../img/thumbs/img39.jpeg");
}

#index-gallery .img-40 {
    grid-area: img40;
    background-image: url("../img/thumbs/img40.jpeg");
}

#index-gallery .img-41 {
    grid-area: img41h;
    background-image: url("../img/thumbs/img41h.jpeg");
	height: 610px;
}

#index-gallery .img-42 {
    grid-area: img42;
    background-image: url("../img/thumbs/img42.jpeg");
}

#index-gallery .img-43 {
    grid-area: img43;
    background-image: url("../img/thumbs/img43.jpeg");
}


#index-gallery .img-44 {
    grid-area: img44;
    background-image: url("../img/thumbs/img44.jpeg");
}

#index-gallery .img-45 {
    grid-area: img45;
    background-image: url("../img/thumbs/img45.jpeg");
}

#index-gallery .img-46 {
    grid-area: img46;
    background-image: url("../img/thumbs/img46.jpeg");
}

#index-gallery .img-47 {
    grid-area: img47h;
    background-image: url("../img/thumbs/img47h.jpeg");
	height: 610px;
}

#index-gallery .img-48 {
    grid-area: img48;
    background-image: url("../img/thumbs/img48.jpeg");
}

#index-gallery .img-49 {
    grid-area: img49h;
    background-image: url("../img/thumbs/img49h.jpeg");
	height: 610px;
}

#index-gallery .img-50 {
    grid-area: img50;
    background-image: url("../img/thumbs/img50.jpeg");
}

#index-gallery .img-51 {
    grid-area: img51;
    background-image: url("../img/thumbs/img51.jpeg");
}

#index-gallery .img-52 {
    grid-area: img52;
    background-image: url("../img/thumbs/img52.jpeg");
}

#index-gallery .img-53 {
    grid-area: img53h;
    background-image: url("../img/thumbs/img53h.jpeg");
	height: 610px;
}


#index-gallery .img-54 {
    grid-area: img54h;
    background-image: url("../img/thumbs/img54h.jpeg");
	height: 610px;
}

#index-gallery .img-55 {
    grid-area: img55;
    background-image: url("../img/thumbs/img55.jpeg");
}

#index-gallery .img-56 {
    grid-area: img56;
    background-image: url("../img/thumbs/img56.jpeg");
}

#index-gallery .img-57 {
    grid-area: img57;
    background-image: url("../img/thumbs/img57.jpeg");
}

#index-gallery .img-58 {
    grid-area: img58h;
    background-image: url("../img/thumbs/img58h.jpeg");
	height: 610px;
}

#index-gallery .img-59 {
    grid-area: img59;
    background-image: url("../img/thumbs/img59.jpeg");
}

#index-gallery .img-60 {
    grid-area: img60;
    background-image: url("../img/thumbs/img60.jpeg");
}

#index-gallery .img-61 {
    grid-area: img61;
    background-image: url("../img/thumbs/img61.jpeg");
}

#index-gallery .img-62 {
    grid-area: img62;
    background-image: url("../img/thumbs/img62.jpeg");
}

#index-gallery .img-63 {
    grid-area: img63h;
    background-image: url("../img/thumbs/img63h.jpeg");
	height: 610px;
}


#index-gallery .img-64 {
    grid-area: img64;
    background-image: url("../img/thumbs/img64.jpeg");
}

#index-gallery .img-65 {
    grid-area: img65h;
    background-image: url("../img/thumbs/img65h.jpeg");
	height: 610px;
}

#index-gallery .img-66 {
    grid-area: img66;
    background-image: url("../img/thumbs/img66.jpeg");
}

#index-gallery .img-67 {
    grid-area: img67;
    background-image: url("../img/thumbs/img67.jpeg");
}

/* Gallery image titles */
.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery-img div:hover {
    opacity: 0.9;
    transition: all ease-in-out 100ms;
}

/* Popup window when clicked */
.img-window {
    width: 100vw;
    height: 100vh;	
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img {
    max-height: 80vh;
    max-width: 80vw;
}

/* Next and previous image */
.img-btn-next {
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-next:hover {
    opacity: 0.9;
}

.img-btn-prev {
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-prev:hover {
    opacity: 0.9;
}

/* Popup window for text when clicked */
.text-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.text-window div {
    height: 80vh;
    width: 80vw;
	scroll-x:hidden;
	scroll-y:auto;
    background-color: white;
	color: black;
}
