/* Gallery container */
#index-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "img1" 		/*  1 */
    "img1" 		/*  2 */
    "img2" 		/*  3 */
	"img5" 		/*  4 */
	"img5" 		/*  5 */
	"img7"; 	/*  6 */
    cursor: pointer;
}
.gallery1 {display: block; visibility: visible; }
.gallery2 {display: none;  visibility: hidden; }
.gallery3 {display: none;  visibility: hidden; }
.gallery4 {display: none;  visibility: hidden; }
.gallery7 {display: none;  visibility: hidden; }
