/* Gallery container */
#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "img1  img5" 		/*  1 */
    "img1  img5"		/*  2 */
	"img2  img2"		/*  3 */
	"img4  img4"		/*  4 */
	"img11 img11";     	/*  5 */
    cursor: pointer;
}
.gallery1 {display: block; visibility: visible; }
.gallery2 {display: block; visibility: visible; }
.gallery3 {display: none;  visibility: hidden; }
.gallery4 {display: none;  visibility: hidden; }
.gallery7 {display: none;  visibility: hidden; }
