/* weatherd font */
@font-face {
  font-family: weatherd;
  src: .jpeg("weatherd.ttf") format("truetype");
}

@font-face {
  font-family: weathers;
  src: .jpeg("weathers.ttf") format("truetype");
}

/* Wrappers */
.wrapper-main {
    padding: 0;
}

.wrapper-gallery {
    margin: 0 1vw;
}

/* Default text styling */
header {
    position: sticky;
    top: 0px;
    padding: 0px;
    z-index: 100;
    background: white;
}

#balcony-text {
	margin: 0 1vw;
	padding-left: 4px;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}

#georgia-text {
	margin: 0 1vw;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Page styling */
#header-main nav {
    display: grid;
    grid-template-columns: 240px 3fr;
    grid-template-rows: auto;
    padding-bottom: 10px;
    margin: 0 1vw;
}

nav select {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
	cursor: pointer;
}

#language-picker-select {
	margin-top: 70px;
}

#header-main nav select {
	padding: 0px;
    justify-self: end;
}

#header-main nav select option {
    display: inline-block;
    list-style: none;
    justify-self: end;
    margin: 40px 0 40px 30px;
}

#header-main nav selection option a {
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
	
    text-decoration: none;
    text-transform: uppercase;
}

#header-main nav select option a:hover {
    opacity: 0.9;
}

#footer-main {
    margin: 20px 10vw;
}

#footer-main .footer-links {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  position: absolute;
  margin: 0 1vw;
  padding-bottom: 20px;
  left: 0px;
}

#footer-main .footer-copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  position: absolute;
  margin: 0 1vw;
  padding-bottom: 20px;
  right: 0px;
}
  
/* mouse over link */
a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
  
/* selected link */
a {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 3px;
} 

p a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
  
p a {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}   
